# Node.js (Angular)
node_modules/
dist/*
!dist/bookapp/
!dist/bookapp/server/
!dist/bookapp/server/**
!dist/bookapp/browser/
!dist/bookapp/browser/**
.angular/

# .NET (C#)
bin/
obj/
app.db
*.user

# Env
.env
